---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: customer=cus_2uZqybEghSRtJx
    headers:
      Authorization:
      - Bearer sk_test_kQGNcavkvqWP144unEJ0wnbM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_2yB1BmQq8IZMuD",
          "livemode": false,
          "created": 1384868151,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_2yB1tbG62SGuHL",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "gfPwW83tOZgyfMRO",
            "customer": null,
            "country": "US",
            "name": "jim think",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Tue, 19 Nov 2013 13:35:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=5233&currency=usd&card=tok_2yB1BmQq8IZMuD&description=da5ab4b4-ef67-4e06-bc8c-bb2a6d5e0277&application_fee=100
    headers:
      Authorization:
      - Bearer sk_test_kQGNcavkvqWP144unEJ0wnbM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_2yB1hNwlZpxX5X",
          "object": "charge",
          "created": 1384868154,
          "livemode": false,
          "paid": true,
          "amount": 5233,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_2yB1tbG62SGuHL",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "gfPwW83tOZgyfMRO",
            "customer": null,
            "country": "US",
            "name": "jim think",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_2yB1SpnEtHqBA1",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "da5ab4b4-ef67-4e06-bc8c-bb2a6d5e0277",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Tue, 19 Nov 2013 13:35:54 GMT
recorded_with: VCR 2.5.0
