---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2yLMIbE3EBiMSo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kQGNcavkvqWP144unEJ0wnbM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_2yLMIbE3EBiMSo",
          "object": "charge",
          "created": 1384906618,
          "livemode": false,
          "paid": true,
          "amount": 5233,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_2yLMG6mmFVpYga",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "gfPwW83tOZgyfMRO",
            "customer": null,
            "country": "US",
            "name": "jim think",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_2yLM5I4IzMsjyh",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a39d54aa-4274-4ee5-96c6-6cc5558c7d8f",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Wed, 20 Nov 2013 00:41:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_2yLMIbE3EBiMSo/refund
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kQGNcavkvqWP144unEJ0wnbM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "c[...]
