---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: customer=cus_2uox3BpZoFOnyN
    headers:
      Authorization:
      - Bearer sk_test_kQGNcavkvqWP144unEJ0wnbM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_2yKjqVZIxnGKxe",
          "livemode": false,
          "created": 1384904264,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_2yKjpuOWwPwAn1",
            "object": "card",
            "last4": "0341",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2015,
            "fingerprint": "qKs00DVWtX6GIpT3",
            "customer": null,
            "country": "US",
            "name": "Mick Wall",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Tue, 19 Nov 2013 23:37:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=5233&currency=usd&card=tok_2yKjqVZIxnGKxe&description=96d96ae8-554a-42d8-9552-65e4ce2ee66a&application_fee=100
    headers:
      Authorization:
      - Bearer sk_test_kQGNcavkvqWP144unEJ0wnbM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_2yKjo6nBLXtyKw"
          }
        }
  recorded_at: Tue, 19 Nov 2013 23:37:43 GMT
recorded_with: VCR 2.5.0
