---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2yMEml0h62cLGo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kQGNcavkvqWP144unEJ0wnbM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such event: evt_2yMEml0h62cLGo",
            "param": "id"
          }
        }
  recorded_at: Wed, 20 Nov 2013 01:26:19 GMT
recorded_with: VCR 2.5.0
