---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2yViwB35FP7CXF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kQGNcavkvqWP144unEJ0wnbM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_2yViwB35FP7CXF",
          "created": 1384945124,
          "livemode": false,
          "type": "charge.refunded",
          "data": {
            "object": {
              "id": "ch_2yVYeRQRef4lQ0",
              "object": "charge",
              "created": 1384944523,
              "livemode": false,
              "paid": true,
              "amount": 4329,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_2yVYPdTFEr4A3C",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2015,
                "fingerprint": "gfPwW83tOZgyfMRO",
                "customer": null,
                "country": "US",
                "name": "John Part",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [
                {
                  "amount": 1000,
                  "currency": "usd",
                  "created": 1384944595,
                  "object": "refund",
                  "balance_transaction": "txn_2yVZXQZeSHK61x"
                },
                {
                  "amount": 1000,
                  "currency": "usd",
                  "created": 1384945123,
                  "object": "refund",
                  "balance_transaction": "txn_2yVikBK9hJYS0Q"
                }
              ],
              "balance_transaction": "txn_2yVYFXzOWS220e",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 2000,
              "customer": null,
              "invoice": null,
              "description": "ed14eade-5c77-419d-acf7-79878f95ba7f",
              "dispute": null,
              "metadata": {}
            },
            "previous_attributes": {
              "refunds": [
                {
                  "amount": 1000,
                  "currency": "usd",
                  "created": 1384944595,
                  "object": "refund",
                  "balance_transaction": "txn_2yVZXQZeSHK61x"
                }
              ],
              "amount_refunded": 1000
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_2yVigNF65zjyf2"
        }
  recorded_at: Wed, 20 Nov 2013 10:59:48 GMT
recorded_with: VCR 2.5.0
