---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2yUtOiQrkdoudf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_kQGNcavkvqWP144unEJ0wnbM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_2yUtOiQrkdoudf",
          "created": 1384942067,
          "livemode": false,
          "type": "charge.refunded",
          "data": {
            "object": {
              "id": "ch_2yUsCgo0TLrXbr",
              "object": "charge",
              "created": 1384941999,
              "livemode": false,
              "paid": true,
              "amount": 2180,
              "currency": "usd",
              "refunded": true,
              "card": {
                "id": "card_2yUsxxrs2rvobv",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2014,
                "fingerprint": "gfPwW83tOZgyfMRO",
                "customer": null,
                "country": "US",
                "name": "Event Test",
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [
                {
                  "amount": 2180,
                  "currency": "usd",
                  "created": 1384942066,
                  "object": "refund",
                  "balance_transaction": "txn_2yUtouwVL84cDV"
                }
              ],
              "balance_transaction": "txn_2yUs2MyT2fSa8Q",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 2180,
              "customer": null,
              "invoice": null,
              "description": "d056fcf1-fa58-4cef-bb77-bbbe366b9f57",
              "dispute": null,
              "metadata": {}
            },
            "previous_attributes": {
              "refunded": false,
              "refunds": [],
              "amount_refunded": 0
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_2yUt3XEwu1gu9R"
        }
  recorded_at: Wed, 20 Nov 2013 10:27:33 GMT
recorded_with: VCR 2.5.0
