<h1>Authorized Users for this event</h1>

<%= link_to 'New Event user', new_organizer_event_event_user_path, remote: true, class: "new-auth-user" %>
<hr>


<% @event_users.each do |event_user| %>
  <ul>
    <li><%= event_user.user.profile.email %></li>
    <li><%= event_user.state %></li>
  </ul>
<% end %>
