<h1>Listing event_users</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_users.each do |event_user| %>
  <tr>
    <td><%= link_to 'Show', event_user %></td>
    <td><%= link_to 'Edit', edit_event_user_path(event_user) %></td>
    <td><%= link_to 'Destroy', event_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event user', new_event_user_path %>
