<h1>Our Heroic Promoters</h1>

<div class="container-fluid">

	<div class="row-fluid">
		<aside id="users-searchform" class="span4">
			<header>
				<h3>Search Controls</h3>
			</header>
			<form>
				<div>
					<label>By Rating</label>
					<input  type='range' min='0' max='50' value='0' autofocus="autofocus"/> <br>
					<label>By City</label>
				  <input results="10" type='search' autofocus="autofocus"/> <br>
				  <label>By Shows</label>
				  <input type='text' placeholder='Search Artist' autofocus="autofocus"/> <br>
				  <label>By Age</label>
				  <input type='text' placeholder='Search Promoter' autofocus="autofocus"/>
				</div>
			</form>
		</aside>


		<section id="top-promoters" class="span8">
				<header>

				</header>
					<ul class="thumbnails">
						<% @users.each do |user| %>
						<li class="span3">
							<a class="thumbnail" href="#">
								<img src="http://placehold.it/360x240" alt="">
							</a>
							<h3>Promoter Name</h3>
							<p>Featuring a hero unit for a primary message and three supporting elements.</p>
							<p><%= button_to "View Profile", user_path(user), method: :get, class: "btn button-primary" %></p>
						</li>
						<% end %>
					</ul>
		</section>
	</div>
</div>