<div class="container narrow-container">
	<div class="row-fluid">
    <div class="span6">
      <dl>
        <dt>Your Avatar</dt>
        <dd><%= @user.avatar %></dd>
        <dt>Your username</dt>
        <dd><%= @user.name %></dd>
        <dt>Your email</dt>
        <dd><%= @user.email %></dd>
      </dl>
      <%= link_to "Reset your password" %>
    </div>
    <div class="span6">
    </div>
  </div>
</div>