<div class="container">

	<section class="section-box">
		<div class="row">
			<div class="label-box">User Info</div>
			<div id="promoter-pic" class="span2">
				<% if @user.avatar? %>
					<%= filepicker_image_tag @user.avatar, w: 200, h: 200, fit: 'crop' %>
				<% else %>
					<img src="//placehold.it/200" class="img-polaroid">
				<% end %>
			</div>
			<div class="span3 offset2">
				<p>@user.name</p>
				<p>@user.email</p>
				<p>Orders</p>
				<p>Credit Card</p>

<%= link_to "Edit", edit_user_registration_path(@user) %>

			<div class="span2 offset2">

			</div>
		</div>
	</section>


</div>