<h5>Read this first!</h5>

<p>You can edit this page by clicking on any element that is marked with an <i class="icon-edit"></i> icon. All your changes should be saved automatically. </p>
<p>If you want to keep and/or publish this event you need to save your account by clicking on the menu item in the top right corner.</p>
<p>I've laid out the page to cover the basics of what you might need to advertise your event. This section is for text only (with the exception of urls which are converted to links), you've got video, soundcloud and location embed sections ajacent. </p>
<p> If you prefer you can edit the event details in a form you can do that in your admin area.</p>