<div id="gettingStarted" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-guest="<%= @organizer.guest? %>">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Wecome to your first event!</h3>
  </div>
  <div class="modal-body">
    <p>Hi there  here's some basic instructions to get you going...</p>
    <ul>
      <li>Order a ticket for your event</li>
      <li>Click on 'your account' and go to 'my events'</li>
      <li>Click on 'Connect to Stripe' and 'skip this form' this gives you a test account to play around with.</li>
      <li>Charge your order (in test mode your credit card will not be charged).</li>
      <li>Go to 'Check In View' and admit yourself to your event!</li>
      <li>You can also create another order and test out the refund/cancel options</li>
      <li>When your done don't forget to save your account. You will need to reconnect to Stripe to proccess real payments.</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" >Got it!</button>
  </div>
</div>