<%= form_tag events_path, method: :get, class: "navbar-search " do %>
    <%= text_field_tag :query, params[:query], class: "span3 search-query input-huge", placeholder: "Enter to Search Events", id: "appendedInputButton" %>
    <!-- <button type="submit" class="btn" style="margin:0;"><i class="icon-search"></i>Search</button> -->
<% end %>