<h1>Events#index</h1>

<% @events.each do |event| %>
	Artist - <%= event.artist %>
	<%= link_to "Event Details", event %>
<% end %>

<% admins_only do %>
<%= link_to	"New Event", new_event_path %>
<% end %>

