<h1>Current Shows</h1>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
		<aside id="events-searchform" >
			<header>
				<h3>Search Controls</h3>
			</header>
			<form>
				<div>
					<label>Date Range</label>
					<input  type='range' min='0' max='50' value='0' autofocus="autofocus"/> <br>
					<label>By City</label>
				  <input results="10" type='search' autofocus="autofocus"/> <br>
				  <label>By Artist</label>
				  <input type='text' placeholder='Search Artist' autofocus="autofocus"/> <br>
				  <label>By Promoter</label>
				  <input type='text' placeholder='Search Promoter' autofocus="autofocus"/>
				</div>
			</form>
		</aside>
		</div>
		<section id = "latest-events" class="span8">
			<div class="events">
				<ul class="thumbnails">
					<% @events.each do |event| %>
					<li class="span4">
						<a class="thumbnail" href="#">
							<img src="http://placehold.it/240" alt="">
						</a>
						<h3><%= event.artist %></h3>
						<p>Featuring a hero unit for a primary message and three supporting elements.</p>
						<p>
							<%= button_to "Info and Tickets", event_path(event), method: :get, class: "btn btn-primary" %></a>
						</p>
					</li>
					<% end %>
				</ul>
			</div>
		</section>
	</div>
</div>