<%#= simple_form_for @order do |f| %>
  <%#= f.input :quantity, collection: 1..4, input_html: { class: "input-mini"} %>
  <%#= f.input :email, input_html: {value: "fooman@creteboom.com"} %>
  <%##= f.input :event_id, as: :hidden, input_html: {value: params[:event_id] } %>

  <!-- Credit Card has been provided
  <div class="actions">
    <button type="submit" class="btn btn-primary">Submit Payment</button>
    <%#= f.submit "Place Order", class: 'btn btn-primary' %>
    <%#= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger", input_html: {"data-loading-text" => "loading..."} %>
  </div>
  <div class="control-group error">
    <div id="stripe-error" >
        <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
  </div> -->
<%# end %>
