<div class="container">
  <div class="row">
    <div class="span4 offset4">
      <h1>
        100 Motels
        <small>We do stuff</small>
      </h1>
      <%= render 'events/search' %>
      <%= render 'events/form' %>
      <%= link_to "Sign In", new_user_registration_path %>
    </div>
  </div>
</div>
