<div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><%= link_to "Search Events", events_path %></li>
          <li><%= link_to "Help & Information", info_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        </ul>
        <h3 class="muted">100 Motels</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Artistic freedom is great</h1> <br>
        <p class="lead">But sometimes you need money up-front, like for example if you're travelling abroad to play an independent show. 100 Motels will help you get cash and organize your event. It costs nothing to back out or reschedule your event and it's super cheap if you go ahead. Give it a go!</p>
        <%= link_to "New Event", events_path, method: :post, class: 'btn btn-large btn-success' %>
      </div>

      <hr>

      <div class="footer">
        <p>© seocahill 2012</p>
      </div>

    </div>