<div class="row-fluid">
  <div class="span12">
    <div class="jumbotron">
      <h1>
        Did you ever want to organize a gig but you weren't sure if it was worth it?
      </h1> <br>
      <p class="lead">Be sure. Change the date, drop the ticket price, keep ticket orders or refund them, trash the whole thing and start again. 100 Motels won't cost you a penny until you get the show you want. </p>
      <%= link_to "Try it!", guest_profiles_path, method: :post, class: 'btn btn-large btn-success' %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div="span12">
    <div class="search"><%= render 'search' %></div>
  </div>
</div>

