<div class="container">
  <div class="row-fluid">
    <div class="span3">
      <div class="" >
        <ul class="nav nav-list well" >
          <li class="nav-header">About the Founder</li>

          <li class="#"><a href="#">personal info</a></li>
          <li><a href="#">WIP</a></li>
          <li><a href="#">hiring</a></li>
          <li><a href="#">github</a></li>
          <li><a href="#">blog</a></li>
          <li class="nav-header">About 100 Motels</li>

          <li><a href="#">Funding</a></li>
          <li><a href="#">Revenue</a></li>
          <li><a href="#">Promoter info</a></li>
          <li><a href="#">Artist info</a></li>

          <li class="nav-header">Technical info</li>
          <li><a href="#">Development</a></li>
          <li><a href="#">Testing</a></li>
          <li><a href="#">Security</a></li>

          <li class="nav-header">Customer info</li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div> <!-- /well -->
    </div>
    <div class="span9">
      <!-- 100 Motels poster -->
      <section id="intro">
        <div class="">
          <img src="http://www.zappa.com/stufftoget/wallpaper/images/downloads/200_Motels_1024.jpg" class="img-rounded">
            <p class="pull-right img-circle">
              <small>&copy; <a href="http://www.zappa.com/stufftoget/wallpaper/index.html">Zappa.com</a></small>
            </p>
            <br>
          <h3>Hi I'm Seosamh Cahill. <span class="muted">I developed 100 Motels.</span></h2>
          <p class="lead">My experience in music has inspired me to try and change some things, and this is my first cut at it. The focus of 100 Motels is live musical performance, specifically touring. If you're curious about my background, my thoughts on music, web development or anything else check out <a href="//seocahill.com">my blog</a>.  </p>
        </div>
      </section>
      <!-- The Big IDea -->
      <!-- <div class="container marketing"> -->

        <!-- START THE FEATURETTES -->

        <div class="featurette">
          <!-- <img class="featurette-image pull-right img-circle" src="//placehold.it/200"> -->
          <%= image_tag "cb-black.png", class: "featurette-image pull-right img-circle" %>
          <div class="page-header"><h1 class="featurette-heading">What's the problem? </h1></div>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">
          <%= image_tag "cb-black.png", class: "featurette-image pull-right img-circle" %>
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <div class="featurette">
          <%= image_tag "cb-black.png", class: "featurette-image pull-right img-circle" %>
          <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
      <!-- </div> -->
    </div><!--/span-->
  </div><!--/row-->
  <hr>
</div> <!-- /container​ -->