<div class="container">
  <div class="row">
    <div class="span10 offset2" id="">
          <h1 class="">Hi, I'm Seosamh. <span class="muted">I developed 100 Motels. </span><a href="//seocahill.com"><img src="//www.gravatar.com/avatar/fd4e9587dd4e9696fecfa8b47f5d6c77.png" class="img-circle"></a></h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3" id="side-menu">
        <ul class="nav nav-list well" >
          <li class="nav-header">About the Founder</li>

          <li><a href="//github.com/seocahill">Github</a></li>
          <li><a href="//seocahill.com">Blog</a></li>
          <li class="nav-header">About 100 Motels</li>

          <li><a href="#how">How it Works</a></li>
        </ul>
    </div> <!-- /span3 -->
    <div class="span9">
      <!-- 100 Motels poster -->


      <div class="" id="intro">
        <img src="http://www.zappa.com/stufftoget/wallpaper/images/downloads/200_Motels_1024.jpg" class="img-rounded">
        <small>&copy; <a href="http://www.zappa.com/stufftoget/wallpaper/index.html">Zappa.com</a></small>
      </div>

      <div class="" id="how">
        <div class=""><h1>How it Works</h1></div>
        <div class="">
          <p class="lead"> Wouldn't you like to know.</p>
        </div>
        <a href="#">Back to top</a>
      </div>

    </div><!--/span-->
  </div><!--/row-->
  <hr>
</div> <!-- /container​ -->