<div class="container">
  <div class="row-fluid">
    <div class="span3" style="position: abolute; top:30px;">
        <ul class="nav nav-list well" >
          <li class="nav-header">About the Founder</li>

          <li class="#"><a href="#">personal info</a></li>
          <li><a href="#">WIP</a></li>
          <li><a href="#">hiring</a></li>
          <li><a href="//github.com/seocahill">github</a></li>
          <li><a href="//seocahill.com">blog</a></li>
          <li class="nav-header">About 100 Motels</li>

          <li><a href="#">Funding</a></li>
          <li><a href="#artist">Artists</a></li>
          <li><a href="#organizer">Organizing a Show</a></li>
          <li><a href="#attending">Supporting a Show</a></li>

          <li class="nav-header">Technical info</li>
          <li><a href="#">Development</a></li>
          <li><a href="#">Testing</a></li>
          <li><a href="#">Security</a></li>

          <li class="nav-header">Customer info</li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
    </div> <!-- /span3 -->
    <div class="span9">
      <!-- 100 Motels poster -->
      <section id="intro">
        <div class="">
          <img src="http://www.zappa.com/stufftoget/wallpaper/images/downloads/200_Motels_1024.jpg" class="img-rounded">
            <p class="pull-right img-circle">
              <small>&copy; <a href="http://www.zappa.com/stufftoget/wallpaper/index.html">Zappa.com</a></small>
            </p>
            <br>
          <h3><span class="muted">Hi, I'm Seosamh and I developed 100 Motels.</span></h2>
          <p class="lead">My experience in music has inspired me to try and change some things, and this is my first cut at it. The focus of 100 Motels is live musical performance, specifically touring. If you're curious about my background, my thoughts on music, web development or anything else check out <a href="//seocahill.com">my blog</a>.  </p>
        </div>
      </section>
      <!-- The Big IDea -->
      <!-- <div class="container marketing"> -->

        <!-- START THE FEATURETTES -->

        <div class="featurette">
          <!-- <img class="featurette-image pull-right img-circle" src="//placehold.it/200"> -->
          <%#= image_tag "cb-black.png", class: "featurette-image pull-right img-circle" %>
          <div class="page-header"><h1 class="featurette-heading" id="artist">The Artist. <span class="muted">Concentrate on Performing.</span></h1></div>
          <p class="lead"><strong>PR, lobbying or industry experience is irrelevant on 100 Motels.</strong> Music decides, there is no other consideration. So make recordings you like, get them out into the commons and then practice your performance. </p>
          <p class="lead">After you sign up add a music or video playlist to your profile. Look through local events for a support slot, or organizer profiles if you're looking to tour a particular location. To register your interest just click the request button on the event/organizer profile page. The organizer will receive a private message with your media and contact email. You can track and cancel all requests in your user account. </p>
          <p class="lead">If you receive an offer to tour from an Organizer you need to agree a sales target to cover your costs, once that's done you can expect the Organizer to handle everything else. </p>


        </div>
        <a href="#">Back to top</a>
        <!-- <hr class="featurette-divider"> -->

        <div class="featurette" id="organizer">
          <%#= image_tag "cb-black.png", class: "featurette-image pull-right img-circle" %>
          <div class="page-header"><h1 class="featurette-heading">The Organizer. <span class="muted">Put your musical opinions on Stage.</span></h1></div>
          <p class="lead">If you already spend a lot of time picking music for the benefit of other people, why not organize a show? I built 100 Motels so that anyone who wanted to do so, would have the tools to fund and organize the live performance of a Touring Artist.
            <ul class="lead">
              <li>You're free to pick your own touring Artists and local support or to choose from your private request messages.</li><br>
              <li>You get mobile ticketing and risk-free crowd-funding for you event.</li><br>
              <li>All sales monies are deposited directly into your account, 7 days after you decide to draw down payment.</li><br>
              <li>How much profit you take is between you and the Artist but bear in mind  <strong> that the Artist must never pay to play.</strong></li><br>
            </ul>
          </p>
        </div>
        <a href="#">Back to top</a>
        <hr class="featurette-divider">

        <div class="featurette" id="attending">
          <%#= image_tag "cb-black.png", class: "featurette-image pull-right img-circle" %>
          <h1 class="featurette-heading">Attending. <span class="muted">The only rule is that no one gets ripped off.</span></h1>
          <p class="lead">Buying tickets on 100 Motels is a pain-free experience. </p>
          <ul class="lead">
            <li>There are no ads, promotions or hidden charges.</li><br>
             <li><strong>We never see your payment information</strong>, all credit card processing is handled directly by our payments provider, Stripe.</li><br>
             <li>You can save a user account at any time when making a purchase but it's not necessary. If you choose to create an account you can purchase tickets with a saved credit card (one mouse-click) and also track and cancel existing orders.</li><br>
             <li>You don't have to print anything, the barcoded email receipt on your phone is your ticket. </li><br>
             <li>If the event is cancelled for some reason, you get a refund of the full ticket price.</li><br>
           </ul>
        </div>

        <hr class="featurette-divider">
        <a href="#">Back to top</a>
        <!-- /END THE FEATURETTES -->
      <!-- </div> -->
    </div><!--/span-->
  </div><!--/row-->
  <hr>
</div> <!-- /container​ -->