<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-right">
      <%= link_to (fa_icon "download", text: "Tickets PDF"), admin_event_tickets_path(@event, format: 'pdf'),  class: "btn btn-default btn-lg" %>
    </div>
  </div>
  <div class="panel-body" id="tickets-component">
    <%= react_component('FilterableTicketTable', {products: [{category: 'Sporting Goods', price: '$49.99', stocked: true, name: 'Football'},
    {category: 'Sporting Goods', price: '$9.99', stocked: true, name: 'Baseball'}]}, {prerender: false}) %>
  </div>
</div>
