<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-right">
      <%= link_to (fa_icon "download", text: "Tickets PDF"), admin_event_tickets_path(@event, format: 'pdf'),  class: "btn btn-default btn-lg" %>
    </div>
  </div>
  <div class="panel-body">
    <form>
      <input type="search" name="query" class="form-control input-lg" value="<%= params[:query] %>" placeholder="Search Orders">
    </form>
  </div>
  <div class="keypad">
    <div class="row">
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-default">1</a></div>
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-default">2</a></div>
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-default">3</a></div>
    </div>
    <div class="row">
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-default">4</a></div>
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-default">5</a></div>
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-default">6</a></div>
    </div>
    <div class="row">
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-default">7</a></div>
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-default">8</a></div>
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-default">9</a></div>
    </div>
    <div class="row">
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-default">0</a></div>
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-success"><i class="fa  fa-check-circle fa-1x"></i></a></div>
      <div class="col-xs-3"><a href="" class="btn btn-lg btn-keypad btn-warning"><i class="fa fa-eraser"></i></a></div>
    </div>
  </div>
</div>