// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// cart box

.centered-box {
  margin: 0 auto;
  text-align: center;
}

#event-info {
    img {
    margin: 15px 25px;
  }
}

#about-artist {
    img {
    margin-left: 20px;
    margin-top: 20px;
  }
}

// events index

#events-searchbar  {
  // padding: 20px;
}

#events-index-grid {
  text-align: center;
  // padding: 15px;
}

// promoter event view
.option-buttons {
  margin: 20px 0;
}

// promoter event index
#promoter-event-new {
  margin-bottom: 20px;
}