// events index
// scoped to events controller
.event-map,
.thumbnails li {
  @include media-between($small-min, $small-max) {
    width: 49%;
    float: left;
  }
}

  // validation notices for best in place
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: auto;
  padding: 20px;
  @extend .alert;
  @extend .alert-error;
  &:first-letter { text-transform: uppercase };
}

//event show

.flex-embed {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-embed.widescreen { padding-bottom: 57.25%; }
.flex-embed.vimeo { padding-top: 0; }

.flex-embed iframe,
.flex-embed object,
.flex-embed embed {
  position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-embed { padding-top: 0; }
}

.event-header {
  h1, h2, h3, small, a, dt, dd {
    color: white;
    text-shadow: 3px 4px 5px #000;
  }
  .dropdown-menu a {text-shadow: none;}
  padding: 20px;
}


.addthis_toolbox {
  &:hover {
    text-decoration: none;
  }
}

#event-information  {
  .progress  {
    height: 40px;
  }
  .progress-bar {
    font-size: 20px;
    vertical-align: middle;
  }
}

.price, i {
  font-size: 20px;
}

.portfolio-item {
  margin-bottom: 25px;
}

.hideme {
  display: none;
}


