// Fonts
@import url(//fonts.googleapis.com/css?family=Racing+Sans+One);

//inset title box

.section-box {
  position: relative;
  margin: 25px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.section-box .label-box {
  // content: "Promoter Info";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}


// Footer
.footer-links {
  margin-top: 20px;
  li {
    padding: 5px 0;
  }
}

footer {
  color: #666;
  background-color: #333;
  min-height: 300px;
  border-top: 4px solid black;
}

footer .footer_top {

  border-bottom: 1px solid #222;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 100px;
}

footer .footer_bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
}

// Image text wrapping
.align_left {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.align_right {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.align_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}