// customize brand color test
.navbar {
  .brand  {
    font-family: 'Lobster', cursive;
  }
}

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #32373A;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
  font-family: 'Lobster', cursive;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#filepick {
  margin: 5px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

// Fonts
@import url(https://fonts.googleapis.com/css?family=Cabin|Lobster);


/* Responsive dimensions */
$handheld-min: 320px;
$handheld-max: 479px;
$small-min: $handheld-max + 1;
$small-max: 767px;
$medium-min: $small-max + 1;
$medium-max: 979px;
$large-min: $medium-max + 1;
$ipad-landscape: 1025px;
$large-max: 1199px;
$xlarge: 1200;

/*Responsive query mixins */
@mixin media-above($min) {
  @media (min-width: $min) { @content; }
}
@mixin media-below($max) {
  @media (max-width: $max) { @content; }
}
@mixin media-between($min, $max) {
  @media (min-width: $min) and (max-width: $max) { @content; }
}

// Sticky Footer
html, body  {
  height: 100%;
  // background: #32373A;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  background: #32373A;
}

.push {
  height: 60px;
}

footer {
  // padding: 20px;
  text-align: center;
  .landing {
    color: white;
  }
}

// input prepend fix
.input-prepend, .input-append {
    white-space: nowrap;
    -webkit-padding-end: 27px;
}

// purr error messages
.purr {
    position: fixed;
    top: 30px;
    right: 100px;
    width: auto;
    padding: 20px;
    @extend .alert;
    @extend .alert-error;
    &:first-letter { text-transform: uppercase };
  }

.block-button-group {
  width: 100%;
  .btn  {
    width: 33%
  }
}