// Using a separate stylesheet for use with Roady gem

// Main Box
.container {
  // background: rgba(208, 208, 198, 0.6);
  margin: 15px;
  padding: 10px;
  border: 1px solid;
  position: relative;
}

.box {
  border: 1px solid;
}

img {
}

#event-info {
  position: absolute;
  top: 5px;
  right: 5px;
}

#order-email-headline {
  display: inline;
  font-size: 20px;
  text-align: center;

}