// stripe button

.user-account {
  a {
    text-decoration: none;
  }
}

// user user-account

.user-form {
  padding-top: 60px;
  .well {
    background: image-url('concrete_wall_2.png');
    height: 600px;
    i {
      font-size: 18px;
    }
  }
}

.user-form-wrapper {
  background-color: $brown;
  height: 800px;
}
