// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// image padding

#promoter-pic {
  img  {
        margin-bottom: 15px;
  }
}

// promoter stats

#promoter-stats dd, dt {
  padding: 5px;
}

//tour info

.tour-content {
  // min-height: 275px;
}

#tour-info  img {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

#placeholder {
  height: 100px;
  // margin-bottom: -100px;
}

// promoter index

#user-index-grid  {
  text-align: center;
}

// user profile
.user-account-spacer  {
  min-height: 20px;
}
