<%= form_tag events_path, method: :get, class: "" do %>
  <div class="input-append">
    <%= text_field_tag :query, params[:query], class: "input-block-level big-search", placeholder: "Artist, venue or location", id: "appendedInputButton" %>
    <button type="submit" class="btn" ><i class="icon-search"></i> Go</button>
  </div>
<% end %>
