<%= @location.address %>
<%= @location.latitude %>
<%= @location.longitude %>

<h3>Nearby locations</h3>
<ul>
<% for location in @location.nearbys(10) %>
  <li><%= link_to location.address, location %></li>
<% end %>
</ul>