<div class="span6 event-map address">
  <a href="https://maps.google.com/?ll=<%= @location.latitude %>,<%= @location.longitude %>">
    <%= image_tag("https://maps.google.com/maps/api/staticmap?size=250x250&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}") %>
  </a>
</div>