<div class="container flash-messages">
<% unless response.cache_control[:public] %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key == :notice ? "success" : "danger" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, value, :id => "flash_#{key}" if value.is_a?(String) %>
    </div> <!-- /flash -->
  <% end %>
<% end %>
</div>