<% unless response.cache_control[:public] %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key == "notice" ? "success" : "danger" %> text-center" style="margin: 0;padding: 20px;">
      <h4><%= value %> <a class="close" style="float:center;" data-dismiss="alert">&#215;</a></h4>
    </div>
  <% end %>
<% end %>
